.reg-btn{
    background-color: #ffffff;
    border: 1.5px solid #dcdcdc;
    font-size: 12px;
    font-weight: 700;
    padding: 5px;
    margin-left: 0.3pc;
    margin-right: 0.3pc;
}
.red-btn{
    background-color: #EE3457;
    color: white;
    padding: 10px;
    font-size: 12px;
    font-weight: 700;
    margin-left: 0.3pc;
    margin-right: 0.3pc;
}
.blue-btn{
    background-color: #6DCBD3;
    color: white;
    padding: 5px;
    margin-left: 0.5pc;
    margin-right: 0.5pc;
    border-radius: 4px;
    font-weight: 700;
    font-size: 15px;
}
.red-border-btn{
    background-color: #ffffff;
    color: #EE3457;
    padding: 10px;
    font-size: 12px;
    font-weight: 700;
    margin-left: 0.3pc;
    margin-right: 0.3pc;
    border: 1.5px solid #EE3457 ;
}
.black-btn{
    background-color: #000000;
    color: white;
    padding: 5px;
    margin-left: 0.5pc;
    margin-right: 0.5pc;
    border-radius: 4px;
    font-weight: 700;
    font-size: 15px;
}
.video-js{
    position: initial;
}